@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

.font-inknut {
  font-family: 'Inknut Antiqua', serif;
}

.font-oleoSwash {
  font-family: 'Oleo Script Swash Caps', cursive;
}
